In [4]:
import sqlite3

conn=sqlite3.connect("mark_database.db")
cursor=conn.cursor()

#create table if not exist

cursor.execute(""" create table if not exists
stud_marks( s_id integer primary key autoincrement, 
name text not null,
sub1 int,
sub2 int,
sub3 int)""")

conn.commit()
print("table created successfully")

table created successfully

In [13]:
#we are getting error..so dropping existing table and creating new

cursor.execute("drop table if exists stud_marks")
conn.commit()
print("existing table dropped")

existing table dropped

In [41]:
#creating new table

cursor.execute("""create table if not exists
stu_tab(id integer primary key autoincrement,
stu_name text not null,
s_sub1 int,
s_sub2 int,
s_sub3 int)""")

conn.commit()
print("new table created successfully")

new table created successfully

In [12]:
#function to add student

def add_student():
    count=int(input("enter no. of students to be added:"))
    for i in range(count):
        name= input("enter the name of student:")
        sub1=int(input("enter the sub1 mark:"))
        sub2=int(input("enter the sub2 mark:"))
        sub3=int(input("enter the sub3 mark:"))

    cursor.execute("""insert into stu_tab(stu_name,s_sub1, s_sub2, s_sub3) values (?,?,?,?)""",(name,sub1, sub2, sub3))
    conn.commit()

    print("values inserted successfully")

add_student()

enter no. of students to be added: 3
enter the name of student: sangee
enter the sub1 mark: 45
enter the sub2 mark: 64
enter the sub3 mark: 78
enter the name of student: sindhu
enter the sub1 mark: 65
enter the sub2 mark: 98
enter the sub3 mark: 67
enter the name of student: saras
enter the sub1 mark: 79
enter the sub2 mark: 56
enter the sub3 mark: 89

values inserted successfully

In [17]:
#function to view all student

def view_student():
    cursor.execute("select * from stu_tab")
    record=cursor.fetchall()
    print("\n ID | NAME | SUB1 | SUB2 | SUB3 | TOTAL | AVERAGE ")
    for row in record:
        print(row)

view_student()

 ID | NAME | SUB1 | SUB2 | SUB3 | TOTAL | AVERAGE
(1, 'saras', 79, 56, 89)

In [23]:
#function to update student mark

def update_marks():
    name=input("enter the name of student whose mark to update:")
    s1=int(input("enter the updated mark for sub1:"))
    s2=int(input("enter the updated mark for sub2:"))
    s3=int(input("enter the updated mark for sub3:"))

    cursor.execute("update stu_tab set s_sub1=?, s_sub2=?, s_sub3=? where stu_name=?",(s1,s2,s3,name))
    conn.commit()

    print(f"{name}'s marks updated successfully")

update_marks()

enter the name of student whose mark to update: sangee
enter the updated mark for sub1: 78
enter the updated mark for sub2: 90
enter the updated mark for sub3: 75

sangee's marks updated successfully

In [25]:
#function to delete student

def delete_student():
    name=input("enter the name of student to delete:")
    cursor.execute("delete from stu_tab where stu_name=?",(name))
    conn.commit()
    print(f"{name}'s deleted")

delete_student()

enter the name of student to delete: sindhu

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 6 supplied.

In [ ]:
ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 6 supplied.

his happens because of how you're passing the parameter name.

You wrote:

python
Copy
Edit
cursor.execute("delete from stu_tab where stu_name=?", (name))
But (name) is not a tuple, it's just a string in parentheses.
Python treats each character in the string as separate elements.

So "sindhu" becomes:

python
Copy
Edit
('s', 'i', 'n', 'd', 'h', 'u')
→ 6 items instead of 1.

Corrected Code
You just need to add a comma to make it a tuple:

python
Copy
Edit
cursor.execute("delete from stu_tab where stu_name=?", (name,))
Notice the comma after name. That’s what makes it a tuple with one element.

In [26]:
#correct function to delete student

def delete_student():
    name=input("enter the name of student to delete:")
    cursor.execute("delete from stu_tab where stu_name=?",(name,))
    conn.commit()
    print(f"{name}'s deleted")

delete_student()

enter the name of student to delete: sindhu

sindhu's deleted

In [39]:
#function to update total and average

def update_tot_avg():
    cursor.execute("select id, s_sub1, s_sub2, s_sub3 from stu_tab")
    data=cursor.fetchall()

    for row in data:
        id, s_sub1, s_sub2, s_sub3 =row 
        tot = s_sub1+s_sub2+s_sub3
        avg=tot/3
    
    cursor.execute(" update stu_tab set s_total=?, average=? where id=?",(tot, avg, id))
    conn.commit()

    print("total and average updated")

update_tot_avg()

OperationalError: no such column: s_total

In [42]:
#adding new column

def adding_column():

    cursor.execute("alter table stu_tab add column s_total int")
    cursor.execute("alter table stu_tab add column average real")

    conn.commit()
    print("columns added successfully")

adding_column()

columns added successfully

In [43]:
#function to update total and average

def update_tot_avg():
    cursor.execute("select id, s_sub1, s_sub2, s_sub3 from stu_tab")
    data=cursor.fetchall()

    for row in data:
        id, s_sub1, s_sub2, s_sub3 =row 
        tot = s_sub1+s_sub2+s_sub3
        avg=tot/3
    
    cursor.execute(" update stu_tab set s_total=?, average=? where id=?",(tot, avg, id))
    conn.commit()

    print("total and average updated")

update_tot_avg()

total and average updated

In [1]:
#menu system

while True:
    print("\n MENU:")
    print("\n 1. Add student \n 2. Update student \n 3. View student \n 4. Add column \n 5. Update tot, avg \n 6. Delete student \n 7. Exit")

    choice=int(input("enter the choice (1-6):"))

    if choice==1:
        add_student()

    elif choice==2:
        update_marks()

    elif choice==3:
        view_student()

    elif choice==4:
        adding_column()

    elif choice==5:
        update_tot_avg()

    elif choice==6:
        delete_student()

    elif choice==7:
        print("exiting")
        break

    else:
        print("invalid choice")

 MENU:

 1. Add student
 2. Update student
 3. View student
 4. Add column
 5. Update tot, avg
 6. Delete student
 7. Exit

enter the choice (1-6): 1

NameError: name 'add_student' is not defined

In [ ]:
#together my code


import sqlite3

conn=sqlite3.connect("mark_database.db")
cursor=conn.cursor()

#create table if not exist

cursor.execute(""" create table if not exists
stud_marks( s_id integer primary key autoincrement, 
name text not null,
sub1 int,
sub2 int,
sub3 int)""")

conn.commit()
# print("table created successfully")

#we are getting error..so dropping existing table and creating new

cursor.execute("drop table if exists stud_marks")
conn.commit()
# print("existing table dropped")

#creating new table

cursor.execute("""create table if not exists
stu_tab(id integer primary key autoincrement,
stu_name text not null,
s_sub1 int,
s_sub2 int,
s_sub3 int)""")

conn.commit()
# print("new table created successfully")

#function to add student

def add_student():
    count=int(input("enter no. of students to be added:"))
    for i in range(count):
        name= input("enter the name of student:")
        sub1=int(input("enter the sub1 mark:"))
        sub2=int(input("enter the sub2 mark:"))
        sub3=int(input("enter the sub3 mark:"))

    cursor.execute("""insert into stu_tab(stu_name,s_sub1, s_sub2, s_sub3) values (?,?,?,?)""",(name,sub1, sub2, sub3))
    conn.commit()

    print("values inserted successfully")



#function to view all student

def view_student():
    cursor.execute("select * from stu_tab")
    record=cursor.fetchall()
    print("\n ID | NAME | SUB1 | SUB2 | SUB3 | TOTAL | AVERAGE ")
    for row in record:
        print(row)



#function to update student mark

def update_marks():
    name=input("enter the name of student whose mark to update:")
    s1=int(input("enter the updated mark for sub1:"))
    s2=int(input("enter the updated mark for sub2:"))
    s3=int(input("enter the updated mark for sub3:"))

    cursor.execute("update stu_tab set s_sub1=?, s_sub2=?, s_sub3=? where stu_name=?",(s1,s2,s3,name))
    conn.commit()

    print(f"{name}'s marks updated successfully")



#function to delete student

def delete_student():
    name=input("enter the name of student to delete:")
    cursor.execute("delete from stu_tab where stu_name=?",(name))
    conn.commit()
    print(f"{name}'s deleted")



#function to update total and average

def update_tot_avg():
    cursor.execute("select id, s_sub1, s_sub2, s_sub3 from stu_tab")
    data=cursor.fetchall()

    for row in data:
        id, s_sub1, s_sub2, s_sub3 =row 
        tot = s_sub1+s_sub2+s_sub3
        avg=tot/3
    
    cursor.execute(" update stu_tab set s_total=?, average=? where id=?",(tot, avg, id))
    conn.commit()

    print("total and average updated")



#adding new column

def adding_column():

    cursor.execute("alter table stu_tab add column s_total int")
    cursor.execute("alter table stu_tab add column average real")

    conn.commit()
    print("columns added successfully")



#function to update total and average

def update_tot_avg():
    cursor.execute("select id, s_sub1, s_sub2, s_sub3 from stu_tab")
    data=cursor.fetchall()

    for row in data:
        id, s_sub1, s_sub2, s_sub3 =row 
        tot = s_sub1+s_sub2+s_sub3
        avg=tot/3
    
    cursor.execute(" update stu_tab set s_total=?, average=? where id=?",(tot, avg, id))
    conn.commit()

    print("total and average updated")



#menu system

while True:
    print("\n MENU:")
    print("\n 1. Add student \n 2. Update student \n 3. View student \n 4. Add column \n 5. Update tot, avg \n 6. Delete student \n 7. Exit")

    choice=int(input("enter the choice (1-6):"))

    if choice==1:
        add_student()

    elif choice==2:
        update_marks()

    elif choice==3:
        view_student()

    elif choice==4:
        adding_column()

    elif choice==5:
        update_tot_avg()

    elif choice==6:
        delete_student()

    elif choice==7:
        print("exiting")
        break

    else:
        print("invalid choice")

 MENU:

 1. Add student
 2. Update student
 3. View student
 4. Add column
 5. Update tot, avg
 6. Delete student
 7. Exit

enter the choice (1-6): 1
enter no. of students to be added: 3
enter the name of student: sangee
enter the sub1 mark: 54
enter the sub2 mark: 78
enter the sub3 mark: 98
enter the name of student: sindhu
enter the sub1 mark: 76
enter the sub2 mark: 57
enter the sub3 mark: 68
enter the name of student: saras
enter the sub1 mark: 67
enter the sub2 mark: 98
enter the sub3 mark: 87

values inserted successfully

 MENU:

 1. Add student
 2. Update student
 3. View student
 4. Add column
 5. Update tot, avg
 6. Delete student
 7. Exit

enter the choice (1-6): 2
enter the name of student whose mark to update: sindhu
enter the updated mark for sub1: 67
enter the updated mark for sub2: 74
enter the updated mark for sub3: 84

sindhu's marks updated successfully

 MENU:

 1. Add student
 2. Update student
 3. View student
 4. Add column
 5. Update tot, avg
 6. Delete student
 7. Exit

enter the choice (1-6): 3

 ID | NAME | SUB1 | SUB2 | SUB3 | TOTAL | AVERAGE
(1, 'saras', 65, 76, 86, 224, 74.66666666666667)
(2, 'vijaya', 56, 75, 86, None, None)
(3, 'sange', 45, 64, 75, None, None)
(4, 'saras', 67, 98, 87, None, None)

 MENU:

 1. Add student
 2. Update student
 3. View student
 4. Add column
 5. Update tot, avg
 6. Delete student
 7. Exit

In [2]:
import sqlite3

# Connect to DB
conn = sqlite3.connect("library.db")
cursor = conn.cursor()

# Create table if not exists
cursor.execute("""
CREATE TABLE IF NOT EXISTS student_mark (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    stu_name TEXT NOT NULL,
    sub1 INTEGER,
    sub2 INTEGER,
    sub3 INTEGER,
    total INTEGER,
    average REAL
)
""")
conn.commit()

# Function to add student
def add_student():
    name = input("Enter student name: ")
    sub1 = int(input("Enter marks for subject 1: "))
    sub2 = int(input("Enter marks for subject 2: "))
    sub3 = int(input("Enter marks for subject 3: "))
    cursor.execute("""
        INSERT INTO student_mark (stu_name, sub1, sub2, sub3)
        VALUES (?, ?, ?, ?)
    """, (name, sub1, sub2, sub3))
    conn.commit()
    print(f"✅ {name} added successfully!")

# Function to view all students
def view_students():
    cursor.execute("SELECT * FROM student_mark")
    records = cursor.fetchall()
    print("\nID | Name | Sub1 | Sub2 | Sub3 | Total | Average")
    for row in records:
        print(row)

# Function to update student marks
def update_student():
    name = input("Enter the student name to update: ")
    s1 = int(input("Enter new marks for subject 1: "))
    s2 = int(input("Enter new marks for subject 2: "))
    s3 = int(input("Enter new marks for subject 3: "))
    cursor.execute("""
        UPDATE student_mark 
        SET sub1 = ?, sub2 = ?, sub3 = ? 
        WHERE stu_name = ?
    """, (s1, s2, s3, name))
    conn.commit()
    print(f"✅ Marks updated for {name}")

# Function to delete a student
def delete_student():
    name = input("Enter the student name to delete: ")
    cursor.execute("DELETE FROM student_mark WHERE stu_name = ?", (name,))
    conn.commit()
    print(f"❌ Record deleted for {name}")

# Function to update total and average
def update_total_average():
    cursor.execute("SELECT id, sub1, sub2, sub3 FROM student_mark")
    data = cursor.fetchall()
    for row in data:
        sid, s1, s2, s3 = row
        total = s1 + s2 + s3
        avg = total / 3
        cursor.execute("""
            UPDATE student_mark 
            SET total = ?, average = ? 
            WHERE id = ?
        """, (total, avg, sid))
    conn.commit()
    print("✅ Total and Average updated for all students.")

# -----------------------------
# MENU SYSTEM
# -----------------------------
while True:
    print("\n📘 MENU:")
    print("1. Add Student")
    print("2. View Students")
    print("3. Update Student Marks")
    print("4. Delete Student")
    print("5. Update Total & Average")
    print("6. Exit")

    choice = input("Choose an option (1-6): ")

    if choice == '1':
        add_student()
    elif choice == '2':
        view_students()
    elif choice == '3':
        update_student()
    elif choice == '4':
        delete_student()
    elif choice == '5':
        update_total_average()
    elif choice == '6':
        print("🔚 Exiting program. Goodbye!")
        break
    else:
        print("❗Invalid option. Try again.")

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  1
Enter student name:  sangee
Enter marks for subject 1:  65
Enter marks for subject 2:  98
Enter marks for subject 3:  79

✅ sangee added successfully!

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  2

ID | Name | Sub1 | Sub2 | Sub3 | Total | Average
(1, 'sangee', 65, 98, 79, None, None)

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  3
Enter the student name to update:  sangee
Enter new marks for subject 1:  67
Enter new marks for subject 2:  54
Enter new marks for subject 3:  94

✅ Marks updated for sangee

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  5

✅ Total and Average updated for all students.

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  2

ID | Name | Sub1 | Sub2 | Sub3 | Total | Average
(1, 'sangee', 67, 54, 94, 215, 71.66666666666667)

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  4
Enter the student name to delete:  sangee

❌ Record deleted for sangee

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  2

ID | Name | Sub1 | Sub2 | Sub3 | Total | Average

📘 MENU:
1. Add Student
2. View Students
3. Update Student Marks
4. Delete Student
5. Update Total & Average
6. Exit

Choose an option (1-6):  6

🔚 Exiting program. Goodbye!

In [ ]:

#final code with explanation

# Importing sqlite3 library to use SQLite database
import sqlite3

# Step 1: Connect to a SQLite database
# If "library.db" doesn't exist, it will create one
conn = sqlite3.connect("library.db")

# Step 2: Create a cursor object
# Cursor is used to execute SQL commands in Python
cursor = conn.cursor()

# Step 3: Create a table if it does not already exist
# This creates a table named "student_mark" with:
# id (auto-increment), student name, 3 subject marks, total and average
cursor.execute("""
CREATE TABLE IF NOT EXISTS student_mark (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    stu_name TEXT NOT NULL,
    sub1 INTEGER,
    sub2 INTEGER,
    sub3 INTEGER,
    total INTEGER,
    average REAL
)
""")
conn.commit()  # Save (commit) the changes

# Function to add a student’s name and marks (but not total and avg yet)
def add_student():
    name = input("Enter student name: ")
    sub1 = int(input("Enter marks for subject 1: "))
    sub2 = int(input("Enter marks for subject 2: "))
    sub3 = int(input("Enter marks for subject 3: "))
    
    # SQL INSERT query — ? are placeholders for data to be inserted
    cursor.execute("""
        INSERT INTO student_mark (stu_name, sub1, sub2, sub3)
        VALUES (?, ?, ?, ?)
    """, (name, sub1, sub2, sub3))  # Tuple of values

    conn.commit()  # Save changes
    print(f"✅ {name} added successfully!")

# Function to display all student records from the table
def view_students():
    cursor.execute("SELECT * FROM student_mark")  # Fetch everything
    records = cursor.fetchall()  # Get all records as a list of tuples
    print("\nID | Name | Sub1 | Sub2 | Sub3 | Total | Average")
    for row in records:
        print(row)  # Each row is a tuple of one student’s record

# Function to update a student's subject marks (based on name)
def update_student():
    name = input("Enter the student name to update: ")
    s1 = int(input("Enter new marks for subject 1: "))
    s2 = int(input("Enter new marks for subject 2: "))
    s3 = int(input("Enter new marks for subject 3: "))

    # UPDATE SQL query to modify subject marks
    cursor.execute("""
        UPDATE student_mark 
        SET sub1 = ?, sub2 = ?, sub3 = ? 
        WHERE stu_name = ?
    """, (s1, s2, s3, name))

    conn.commit()
    print(f"✅ Marks updated for {name}")

# Function to delete a student's record
def delete_student():
    name = input("Enter the student name to delete: ")

    # DELETE query using name as filter
    cursor.execute("DELETE FROM student_mark WHERE stu_name = ?", (name,))
    conn.commit()
    print(f"❌ Record deleted for {name}")

# Function to calculate and update total and average for all students
def update_total_average():
    cursor.execute("SELECT id, sub1, sub2, sub3 FROM student_mark")
    data = cursor.fetchall()

    for row in data:
        sid, s1, s2, s3 = row  # Extract values from the row tuple
        total = s1 + s2 + s3
        avg = total / 3  # Average as float

        # Update total and average using id
        cursor.execute("""
            UPDATE student_mark 
            SET total = ?, average = ? 
            WHERE id = ?
        """, (total, avg, sid))

    conn.commit()
    print("✅ Total and Average updated for all students.")

# -----------------------------
# MENU SYSTEM - User Interface
# -----------------------------
while True:
    print("\n📘 MENU:")
    print("1. Add Student")
    print("2. View Students")
    print("3. Update Student Marks")
    print("4. Delete Student")
    print("5. Update Total & Average")
    print("6. Exit")

    # Take user input and match with the options
    choice = input("Choose an option (1-6): ")

    if choice == '1':
        add_student()
    elif choice == '2':
        view_students()
    elif choice == '3':
        update_student()
    elif choice == '4':
        delete_student()
    elif choice == '5':
        update_total_average()
    elif choice == '6':
        print("🔚 Exiting program. Goodbye!")
        break  # Exit the loop and program
    else:
        print("❗Invalid option. Try again.")