In [1]:
import sqlite3

conn=sqlite3.connect("library.db")
cursor=conn.cursor()

cursor.execute("""create table if not exists
student_report(id int primary key autoincrement,
name text not null,
subject1 int,
subject2 int,
subject3 int)""")

conn.commit()

print("table created successfully.")

OperationalError: AUTOINCREMENT is only allowed on an INTEGER PRIMARY KEY

In [2]:
import sqlite3

conn=sqlite3.connect("library.db")
cursor=conn.cursor()

cursor.execute("""create table if not exists
student_report(id integer primary key autoincrement,
name text not null,
subject1 int,
subject2 int,
subject3 int)""")

conn.commit()

print("table created successfully.")

table created successfully.

In [3]:
name=input("enter the student name:")
subject1=int(input("enter marks for subject 1:"))
subject2=int(input("enter marks for subject 2:"))
subject3=int(input("enter marks for subject 3:"))

enter the student name: sangeetha
enter marks for subject 1: 89
enter marks for subject 2: 97
enter marks for subject 3: 69

In [4]:
cursor.execute(""" insert into student_report(name, subject1, subject2, subject3) values (?,?,?,?)""",
               (name, subject1,subject2,subject3))

conn.commit()
print("student data inserted successfully")

student data inserted successfully

In [ ]:
#till above we have taken 1 value

In [9]:
#to get multiple values from user we are using loop

import sqlite3

conn=sqlite3.connect("stu_table.db")
cursor=conn.cursor()

n=int(input("enter no. of records to get:"))

for i in range(n):
    print(f"\n enter details of student {i+1}:")

    stu_name=input("enter the name of student:")
    sub1=int(input("enter subject1 mark:"))
    sub2=int(input("enter subject2 mark:"))
    sub3=int(input("enter subject3 mark:"))

    cursor.execute("""create table if not exists
    student_mark(id integer primary key autoincrement,
    stu_name text not null,
    sub1 int,
    sub2 int,
    sub3 int) """)

    print("table created successfully")

    cursor.execute(""" insert into student_mark(stu_name, sub1, sub2, sub3) values (?,?,?,?)""", (stu_name,sub1,sub2,sub3))
    print("data inserted successfully")

conn.commit()

enter no. of records to get: 3

 enter details of student 1:

enter the name of student: sangeetha
enter subject1 mark: 98
enter subject2 mark: 67
enter subject3 mark: 98

table created successfully
data inserted successfully

 enter details of student 2:

enter the name of student: sindhu
enter subject1 mark: 89
enter subject2 mark: 68
enter subject3 mark: 59

table created successfully
data inserted successfully

 enter details of student 3:

enter the name of student: saraswathi
enter subject1 mark: 69
enter subject2 mark: 98
enter subject3 mark: 68

table created successfully
data inserted successfully

In [10]:
#to view all records

cursor.execute("select * from student_mark") 
records=cursor.fetchall()

In [11]:
print("\n student records:")
for row in records:
    print(row)

 student records:
(1, 'sangeetha', 98, 67, 98)
(2, 'sindhu', 89, 68, 59)
(3, 'saraswathi', 69, 98, 68)

In [15]:
#to update students marks  - u

stu_name=input("enter the name of student to update:")
u_sub1=int(input("enter subject1 mark:"))
u_sub2=int(input("enter subject2 mark:"))
u_sub3=int(input("enter subject3 mark:"))

cursor.execute(""" update student_mark set sub1=?, sub2=?, sub3=? where stu_name=? """ , (u_sub1, u_sub2, u_sub3, stu_name))

conn.commit()
print(f"{stu_name}'s marks updated successfully.")

enter the name of student to update: saraswathi
enter subject1 mark: 89
enter subject2 mark: 54
enter subject3 mark: 76

saraswathi's marks updated successfully.

In [16]:
# to add total and average columns

cursor.execute( "alter table student_mark add column total int")
cursor.execute( "alter table student_mark add column average real")

conn.commit()

In [17]:
# update total and average for all students

cursor.execute(" select id,sub1, sub2, sub3 from student_mark")

data=cursor.fetchall()

for row in data:
    sid, s1, s2, s3=row
    total=s1+s2+s3
    avg=total/3

    cursor.execute("""update student_mark set total=?, average=? where id=?""",(total, avg, sid))

conn.commit()
print("total and average updated for all students.")

total and average updated for all students.

In [18]:
#display with total and average

cursor.execute("select * from student_mark")
records=cursor.fetchall()

print("\n student report:")
print("ID | Name | Sub1 | Sub2 | Sub3 | Total | Avg ")

for row in records:
    print(row)

 student report:
ID | Name | Sub1 | Sub2 | Sub3 | Total | Avg
(1, 'sangeetha', 98, 67, 98, 263, 87.66666666666667)
(2, 'sindhu', 97, 78, 58, 233, 77.66666666666667)
(3, 'saraswathi', 89, 54, 76, 219, 73.0)

In [ ]:

#check for final code in next new notebook -- there we used advanced functions as well